* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0005;
}

/*!                   Mobile Version                          */
@media only screen and (max-width: 500px) {
    /*?   (M)      Nav Bar           */
    #nav {
        /* border: 0.1rem solid blue; */
        background-color: black;
        width: 100%;
        height: 4rem;
    }

    .ulCont {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
    }

    .liCont {
        margin-top: 1.5rem;
    }

    .navBtns {
        /* border: 1px solid black; */
        border-radius: 0.4rem;
        background-color: white;
        color: black;
        font-weight: bold;
        margin: 0.5rem;
        padding: 0.5rem;
        text-decoration: none;
    }

    .navBtns:hover {
        color: white;
        background-color: grey;
    }

    /*?  (M)         Profile Bar              */
    #profileBar {
        background-color: black;
        width: 100%;
        height: 15rem;
    }

    .profilePicCont {
        border: 1px solid green;
        border-radius: 10rem;
        background-color: lightblue;
        margin: 0 auto;
        width: 8rem;
        height: 8rem;
    }

    /*?   (M)            Links          */
    .iconLinksCont {
        /* border: 1px solid yellow; */
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: center;
        background-color: white;
        margin: 0 auto;
        margin-top: 0.5rem;
        width: 14rem;
    }

    .iconLinksCont > a:hover {
        background-color: grey;
        border-radius: 0.5rem;
    }

    .fa-facebook {
        color: blue;
        font-size: 32px;
        padding: 0.5rem;
    }

    .fa-github {
        color: black;
        font-size: 32px;
        padding: 0.5rem;
    }

    .fa-twitter {
        color: lightblue;
        font-size: 32px;
        padding: 0.5rem;
    }

    .fa-linkedin {
        color: darkblue;
        font-size: 32px;
        padding: 0.5rem;
    }

    .fa-youtube {
        color: red;
        font-size: 32px;
        padding: 0.5rem;
    }

    #pageLinksCont {
        text-align: center;
        margin-top: 1rem;
        padding: .2rem;
    }

    .linkPage {
        border-radius: 0.1rem;
        background-color: white;
        padding: 0.1rem;
        margin: .5rem;
        text-decoration: none;
        color: black;
        font-weight: bold;

    }

    /*?  (M)        about Content            */
}

/**     -------------------------------------------------------------*/
/*!            Laptop Full  Screen up to 1730px                     */
@media only screen and (min-width: 500px) and (max-width: 1730px) {
    /*?  (L)         Nav Bar (Top Bar)          */
    #nav {
        /* border: 0.1rem solid blue; */
        position: fixed;
        background-color: black;
        width: 100%;
        height: 4rem;
    }

    .ulCont {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
    }

    .liCont {
        margin-top: 1.5rem;
    }

    .navBtns {
        /* border: 1px solid black; */
        border-radius: 0.4rem;
        background-color: white;
        color: black;
        font-weight: bold;
        margin: 0.5rem;
        padding: 0.5rem;
        text-decoration: none;
    }

    .navBtns:hover {
        color: white;
        background-color: grey;
    }

    /*?  (L)          Profile Bar (Left Vertical Bar)            */

    /*?   (L)            Links                */

    .iconLinksCont > a:hover {
        background-color: grey;
        border-radius: 0.5rem;
    }

    .fa-facebook {
        color: blue;
        font-size: 32px;
        padding: 0.5rem;
    }

    .fa-github {
        color: black;
        font-size: 32px;
        padding: 0.5rem;
    }

    .fa-twitter {
        color: lightblue;
        font-size: 32px;
        padding: 0.5rem;
    }

    .fa-linkedin {
        color: darkblue;
        font-size: 32px;
        padding: 0.5rem;
    }

    .fa-youtube {
        color: red;
        font-size: 32px;
        padding: 0.5rem;
    }
}
