* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0005;
}

/*!                   Mobile Version                          */
@media only screen and (max-width: 500px) {
    /*?   (M)      Nav Bar           */
    #nav {
        /* border: 0.1rem solid blue; */
        /* position: fixed; */
        background-color: black;
        width: 100%;
        height: 4rem;
    }

    .ulCont {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
    }

    .liCont {
        margin-top: 1.5rem;
    }

    .navBtns {
        border: 0.1rem outset white;
        border-radius: 0.4rem;
        background-color: white;
        color: black;
        font-weight: bold;
        margin: 0.5rem;
        padding: 0.5rem;
        text-decoration: none;
    }

    .navBtns:hover {
        color: white;
        background-color: grey;
    }

    /*?  (M)         Profile Bar              */
    #profileBar {
        background-color: black;
        width: 100%;
        height: 15rem;
    }

    .profilePicCont {
        border: 1px solid green;
        border-radius: 10rem;
        background-color: lightblue;
        margin: 0 auto;
        width: 8rem;
        height: 8rem;
    }

    /*?   (M)            Links          */
    .iconLinksCont {
        border: 0.1rem outset white;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: center;
        background-color: white;
        margin: 0 auto;
        margin-top: 0.5rem;
        width: 14rem;
    }

    .iconLinksCont > a:hover {
        border: 0.1rem outset black;
        background-color: rgb(169, 168, 168);
        border-radius: 0.5rem;
    }

    .fa-facebook {
        color: blue;
        font-size: 32px;
        padding: 0.5rem;
    }

    .fa-github {
        color: black;
        font-size: 32px;
        padding: 0.5rem;
    }

    .fa-twitter {
        color: lightblue;
        font-size: 32px;
        padding: 0.5rem;
    }

    .fa-linkedin {
        color: darkblue;
        font-size: 32px;
        padding: 0.5rem;
    }

    .fa-youtube {
        color: red;
        font-size: 32px;
        padding: 0.5rem;
    }

    /*?   Link Pages    */
    #linkPagesCont {
        /* border: 0.1rem solid white; */
        border-radius: 0.1rem;
        text-align: center;
        margin-top: 1rem;
    }

    .linkPage {
        color: white;
        margin: 1rem;
        text-decoration: none;
        font-weight: bold;
    }

    .linkPage:hover {
        color: red;
    }

    /*?  (M)         Main Content            */
    #mainCont {
        padding: 1rem;
    }

    .titleCont {
        border: 0.2rem double rgb(255, 255, 255);
        border-top: none;
        border-radius: 10rem;
        background-color: black;
        color: white;
        text-align: center;
        margin: 0 auto;
        margin-top: 1rem;
        font-size: 48px;
        padding: 0.3rem;
    }

    /**      Flip Cards          */
    .flip-cardCont {
        border: 0.3rem inset black;
        border-radius: 1rem;
        margin: 0 auto;
        margin-top: 5rem;
        padding: 2rem;
        background-color: rgba(57, 56, 56, 0.333);
        width: 200px;
        height: 200px;
        perspective: 1000px;
    }

    .flip-inner {
        position: relative;
        border-radius: 1rem;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 1px 1px 10px 1px white;
    }

    .flip-cardCont:hover .flip-inner {
        transform: rotateY(180deg);
    }

    .flip-front,
    .flip-back {
        border-radius: 1rem;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-front {
        background-color: rgb(7, 243, 243);
        color: black;
    }

    .flip-back {
        background-color: rgba(0, 0, 0, 0.596);
        color: white;
        transform: rotateY(180deg);
    }

    /**     Auto Text       */
    .autoInput {
        font-size: 38px;
    }

    .text {
        text-align: center;
        margin-top: 2rem;
    }
}

/*!            Laptop Full  Screen up to 1730px                     */
@media only screen and (min-width: 500px) and (max-width: 1730px) {
    /*?  (L)         Nav Bar (Top Bar)          */
    #nav {
        /* border: 0.1rem solid blue; */
        position: fixed;
        background-color: black;
        width: 100%;
        height: 4rem;
    }

    .ulCont {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
    }

    .liCont {
        margin-top: 1.5rem;
    }

    .navBtns {
        border: 0.1rem outset white;
        border-radius: 0.4rem;
        background-color: white;
        color: black;
        font-weight: bold;
        margin: 0.5rem;
        padding: 0.5rem;
        text-decoration: none;
    }

    .navBtns:hover {
        color: white;
        background-color: grey;
    }

    /*?  (L)          Profile Bar (Left Vertical Bar)            */
    #profileBar {
        position: fixed;

        /* border: 0.1rem solid red; */
        background-color: #0005; /*!  change back to black after  */
        margin-top: 4rem;
        width: 15rem;
        height: 100%;
    }

    .profilePicCont {
        border: 1px solid green;
        border-radius: 10rem;
        background-color: lightblue;
        margin: 0 auto;
        margin-top: 10rem;
        width: 12rem;
        height: 12rem;
    }

    /*?   (L)            Links                */
    .iconLinksCont {
        /* border: 1px solid yellow; */
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: center;
        background-color: white;
        margin: 0 auto;
        margin-top: 10rem;
        width: 14rem;
        /* height: 4rem; */
    }

    .iconLinksCont > a:hover {
        background-color: grey;
        border-radius: 0.5rem;
    }

    .fa-facebook {
        color: blue;
        font-size: 32px;
        padding: 0.5rem;
    }

    .fa-github {
        color: black;
        font-size: 32px;
        padding: 0.5rem;
    }

    .fa-twitter {
        color: lightblue;
        font-size: 32px;
        padding: 0.5rem;
    }

    .fa-linkedin {
        color: darkblue;
        font-size: 32px;
        padding: 0.5rem;
    }

    .fa-youtube {
        color: red;
        font-size: 32px;
        padding: 0.5rem;
    }

    #linkPagesCont {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        border-radius: 0.5rem;
        background-color: white;
        margin: 0 auto;
        margin-top: 5rem;
        text-align: center;
        width: 12rem;
    }

    .linkPage {
        color: black;
        text-decoration: none;
    }

    /*?   (L)         Home Main Content          */
    #mainCont {
        /* position: absolute; */
        border: 1px solid black;
        margin-left: 15rem;
        text-align: center;
        /* height: 100%; */
    }

    .titleCont {
        /* border: 1px solid red; */
        border-radius: 10rem;
        background-color: black;
        color: white;
        margin: 0 auto;
        margin-top: 10rem;
        font-size: 48px;
        padding: 0.1rem;
    }

    .homeText {
        margin-top: 20rem;
    }

    .text {
        margin-top: 5rem;
    }

    /*? (L)     About Page Content */
    #mainContent {
        display: flex;
        flex-direction: column;
        position: absolute;
        border: 0.1rem solid red;
        /* background-color: aquamarine; */
        height: 30rem;
        width: 40rem;
        margin: 0 auto;
        margin-top: 4rem;

        /* margin-left: 15rem; */
    }
}
