* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0005;
}

/*! (M)                  Mobile  -  Version                   */
@media only screen and (max-width: 500px) {
    /*?   (M)      Nav Bar           */
    #nav {
        /* border: 0.1rem solid blue; */
        /* position: fixed; */
        background-color: black;
        width: 100%;
        height: 5rem;
    }

    .ulCont {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
    }

    .liCont {
        margin-top: 1.5rem;
    }

    .navBtns {
        /* border: 1px solid black; */
        border-radius: 0.4rem;
        background-color: white;
        color: black;
        font-weight: bold;
        margin: 0.5rem;
        padding: 0.5rem;
        text-decoration: none;
    }

    .navBtns:hover {
        color: white;
        background-color: grey;
    }

    /**   Link Pages    */
    #linkPagesCont {
        /* border: 0.1rem solid white; */
        border-radius: 0.1rem;
        background-color: black;
        width: 100%;
        height: 2rem;
        text-align: center;
        /* margin-top: 1rem; */
    }

    .linkPage {
        color: white;
        text-decoration: none;
        font-weight: bold;
        margin: 1rem;
    }

    .linkPage:hover {
        color: red;
    }

    /*!           Main Content             */
    main > h1 {
        text-align: center;
        text-decoration: underline;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    /**       All Cards         */
    main > div {
        border: 0.1rem solid blue;
        border-radius: 0.2rem;
        width: 18rem;
        margin: 0 auto;
        margin-bottom: 2rem;
        text-align: center;
    }

    /**       Card   #1       */
    .card1Cont > h4 {
        text-align: center;
    }

    .htmlList > li {
        display: inline-block;
        margin: 0.5rem;
    }

    /**       Card   #2       */
    .card2Cont > h4 {
        text-align: center;
    }

    .cssList > li {
        display: inline-block;
        margin: 0.5rem;
    }

    /**       Card   #3       */
    .card3Cont > h4 {
        text-align: center;
    }

    .jsList > li {
        display: inline-block;
        margin: 0.5rem;
    }

    /**       Card   #4       */
    .card4Cont > h4 {
        text-align: center;
    }

    .pmList > li {
        display: inline-block;
        margin: 0.5rem;
    }

    /**       Card   #5       */
    .card5Cont > h4 {
        text-align: center;
    }

    .fwList > li {
        display: inline-block;
        margin: 0.5rem;
    }

    /**       Card   #6       */
    .card6Cont > h4 {
        text-align: center;
    }

    .cssFwList > li {
        display: inline-block;
        margin: 0.5rem;
    }

    /**       Card   #7       */
    .card7Cont > h4 {
        text-align: center;
    }

    .mbList > li {
        display: inline-block;
        margin: 0.5rem;
    }

    /**       Card   #8       */
    .card8Cont > h4 {
        text-align: center;
    }

    .cList > li {
        display: inline-block;
        margin: 0.5rem;
    }

    /**       Card   #9       */
    .card9Cont > h4 {
        text-align: center;
    }

    .dbList > li {
        display: inline-block;
        margin: 0.5rem;
    }

    /**       Card   #10       */
    .card10Cont > h4 {
        text-align: center;
    }

    .msList > li {
        display: inline-block;
        margin: 0.5rem;
    }

    /**       Card   #11       */
    .card11Cont > h4 {
        text-align: center;
    }

    .apiList > li {
        display: inline-block;
        margin: 0.5rem;
    }

    /**       Card   #12       */
    .card12Cont > h4 {
        text-align: center;
    }

    .vcList > li {
        display: inline-block;
        margin: 0.5rem;
    }

    /**       Card   #13       */
    .card13Cont > h4 {
        text-align: center;
    }

    .oeList > li {
        display: inline-block;
        margin: 0.5rem;
    }
}
